{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros-protocol.html" import hero, call_out_compact with context %}

{% extends "firefox/base/base-protocol.html" %}

{# analytics #}
{#
{% set _utm_source = 'mozilla.org-firefox-accounts' %}
{% set _utm_campaign = 'trailhead' %}
{% set referrals = '?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=firefox-unfck' %}

  {% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}
  {% set android_url = firefox_adjust_url('android', 'mobile-page') %}
  {% set ios_url = firefox_adjust_url('ios', 'mobile-page') %}
#}

{# meta data #}
{% block page_title %}{{ info.title }}{% endblock %}
{% block page_desc %}{{ info.blurb }}{% endblock %}
{% block page_image %}{{ info.image }}{% endblock %}
{% block page_og_title %}{{ info.title }}{% endblock %}
{% block page_og_desc %}{{ info.blurb }}{% endblock %}

{% block page_css %}
  {{ css_bundle('contentful_general') }}
{% endblock %}

{% block body_class %}mzp-t-firefox wmo-contentful{% endblock %}

{% block content %}
<main role="main">
  {% if hero_data.title %}
    {% call hero(
      title=hero_data.title,
      tagline=hero_data.tagline,
      desc=hero_data.body,
      class=hero_data.theme_class + ' ' + hero_data.product_class,
      include_cta=True,
      heading_level=1,
      image_url=hero_data.image,
      include_highres_image=False,
      l10n_image=False
    ) %}

      {{ download_firefox(download_location='primary cta') }}

    {% endcall %}
  {% endif %}

  <div class="mzp-l-content mzp-t-content-md">
      <article class="mzp-c-article">
        {{ body|safe }}
      </article>
  </div>

  {% if callout_data.title %}
    {% call call_out_compact(
      title=callout_data.title,
      desc=callout_data.body,
      class=callout_data.theme_class + ' ' + callout_data.product_class,
    ) %}
      <div class="download-firefox">
        {{ download_firefox(download_location='secondary cta') }}
      </div>
    {% endcall %}
  {% endif %}

  <!--
  <div class="mzp-l-content">
    <p>
      Entry Data:
        {{ entry_data }}
      <br>
      Page Data:
        {{ page_data }}
      </p>
    <p>
      Title: {{ info.title }}<br>
      Blurb: {{ info.blurb }}<br>
      Slug: {{ info.slug }}<br>
      Hero: {{ hero_data }}<br>
      Callout: {{ callout_data }}<br>
    </p>
  </div> -->



</main>
{% endblock %}


{% block js %}{% endblock %}
