// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../utils' as cp;
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-careers-bottom {
    .mzp-c-split {
        overflow: hidden;
        padding-top: 0;

        .mzp-c-split-container {
            margin-bottom: -180px;
        }
    }
}
