// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use './modules/home.scss';
@use './modules/testimonials.scss';
@use './modules/diversity.scss';
@use './modules/teams.scss';
@use './modules/locations.scss';
@use './modules/benefits.scss';
@use './modules/job-listings.scss';
@use './modules/internships.scss';
@use './modules/footer.scss';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-careers {
    .mzp-l-content {
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }

    h2 {
        text-align: center;
    }

    .c-careers-button-wrapper {
        text-align: center;
    }

    .mzp-c-picto {
        .mzp-c-picto-image {
            width: 160px;
            margin-bottom: 0;
        }
    }
}

