// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.


// @use '../utils' as cp;
@use './modules/overview.scss';
@use './modules/diversity.scss';
@use './modules/teams.scss';
@use './modules/locations.scss';
@use './modules/life-at-mozilla.scss';
@use './modules/benefits.scss';
@use './modules/job-listings.scss';
@use './modules/internships.scss';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-careers {
    .mzp-l-content {
        padding-top: $spacing-2xl;
        padding-bottom: $spacing-2xl;
    }

    h2 {
        text-align: center;
    }

    .c-careers-button-wrapper {
        text-align: center;
    }
}

