{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "careers/base.html" %}

{% from "macros.html" import sub_nav with context %}

{% block page_title %}Mozilla Careers — Feel good about your work again.{% endblock %}
{% block page_desc %}At Mozilla, you can pursue your future while working to protect the future of the internet for everyone, everywhere.{% endblock %}

{% block sub_navigation %}
{{ sub_nav(
  title={
    'text': "Mozilla Careers"
  },
  links=[
  {
    'text': "Overview",
    'href': url('careers.home'),
    'cta_name': "Careers overview"
  },
  {
    'text': "Diversity & Inclusion",
    'href': url('careers.diversity'),
    'cta_name': "Mozilla Diversity and inclusion"
  },
  {
    'text': "Teams",
    'href': url('careers.teams'),
    'cta_name': "Mozilla teams"
  },
  {
    'text': "Locations",
    'href': url('careers.locations'),
    'cta_name': "Mozilla office locations"
  },
  {
    'text': "Life at Mozilla",
    'href': url('careers.life-at-mozilla'),
    'cta_name': "Life at Mozilla"
  },
  {
    'text': "Benefits",
    'href': url('careers.benefits'),
    'cta_name': "Mozilla benefits"
  },
  {
    'text': "Job Listings",
    'href': url('careers.listings'),
    'cta_name': "Mozilla job listings"
  },]
) }}
{% endblock %}

{% block careers_content %}

<!-- blog content -->


  <header class="c-careers-hero">
    <div class="c-video-wrapper">
      <!-- Overlay div to create an overlay effect for the background video -->
      <div class="overlay"></div>
      <video class="c-background-video" autoplay loop muted>
        <source src="https://assets.mozilla.net/video/careers/careers-homepage-optimized1.mp4" type="video/mp4">
      </video>
      {% call split(
        block_class='mzp-l-split-center-on-sm-md',
        media_class='mzp-l-split-h-center',
        media_include='careers/includes/big-picture-video.html',
        image_url='img/careers/careers-video-thumbnail.webp',
        media_after=True
        ) %}
        <h1>Good work that does you good.</h1>
        <a href="{{ url('careers.listings') }}" class="mzp-c-button mzp-t-product">Find your role at Mozilla</a>
        {% endcall %}
      </div>
  </header>


    <div class="mzp-l-content mzp-t-content-md">
      <h2>Feel good about your work</h2>
       <p>
          Mozilla has big ambitions for the next decade to build impactful products that are different — that have more respect for the individuals using them, that operate with a different business model, and that explore new forms of openness. It’s going to take hard work that Mozilla is uniquely suited to take on. It’s why we’re here. It’s who we are. And it’s our future.
        </p>
        <p>
          Bring your drive, your creativity, your big ideas and your new perspectives to make the difference we’re aiming for.
        </p>
    </div>
    <section class="c-careers-values">
      <div class="mzp-l-content mzp-t-content-lg">
        <h2>
          Our values bring us together as one team
        </h2>
        <p>
          How we work together is as important as what we make together. In 2022, we finalized a yearlong effort to codify what helps our team be its best, and we love where we landed. Our shared operating values drive confident decision-making, boost healthy collaborations and just plain make it easier to get stuff done.
        </p>
      </div>
      <ul class="mzp-l-content mzp-l-columns mzp-t-columns-four">
      {% call picto(
        base_el='li',
        title='We welcome differences',
        image_url='protocol/img/icons/brand/orange/speedometer.svg',
        body=True,
      ) %}
        <p>
          Because we want Mozilla to be a place where everyone can do their best work, and because we know diverse perspectives and experiences result in better solutions, we welcome differences.
        </p>
      {% endcall %}

      {% call picto(
        base_el='li',
        title='We are relationship-minded',
        image_url='protocol/img/icons/brand/orange/feature-extensions-puzzle.svg',
        body=True,
      ) %}
        <p>
          We take the long view of our connections and interactions, both with each other and with the people who use our products. This requires a commitment to empathy, active listening and giving without the expectation of getting. It’s digging in to understand what makes people tick and caring about that.
        </p>
      {% endcall %}

      {% call picto(
        base_el='li',
        title='We practice responsible participation',
        image_url='protocol/img/icons/brand/orange/feature-extensions-puzzle.svg',
        body=True,
      ) %}
        <p>
          Transparent and open processes are a unique part of our genetic code. When coupled with responsible participation — being generous and kind with both our inputs and our outputs — we create trust and accountability and elevate the quality of our decisions.
        </p>
      {% endcall %}

      {% call picto(
        base_el='li',
        title='We have grit',
        image_url='protocol/img/icons/brand/orange/feature-extensions-puzzle.svg',
        body=True,
      ) %}
        <p>
          We are here to do hard things, take on giants and make a difference in people’s online lives — so we must have grit. Having grit means facing obstacles with optimism, determination to find new ways forward and being relentless about learning from what worked and what didn’t.
        </p>
      {% endcall %}
      </ul>
    </section>

{% if recent_posts %}
  <section class="mzp-l-card-third mzp-l-content">
  {% for post in recent_posts %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ post.get_featured_image_url('post-large')|default(static('img/careers/blog-fallback.png'), true) }}" alt="{{ post.title }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ post.excerpt }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  {% if featured_post %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ featured_post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ featured_post.image|default(static('img/careers/blog-fallback.png'), true) }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ featured_post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ featured_post.excerpt }}
          </div>
          <ul>
        </div>
      </a>
    </div>
  {% endif %}
  </section>
{% endif %}
<!-- end blog content -->


<!-- office locations -->
<section class="mzp-l-content centered locations" id="locations">
  <div class="mzp-c-call-out">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">A global view</h2>
      <p class="mzp-c-call-out-desc">
        With offices all over the world, we consider the internet from multiple cultures
        and contexts.
      </p>
    </div>
  </div>

  <ul class="locations-list">
    <li>
      <a href="{{ url('mozorg.contact.spaces.san-francisco') }}">
        <img src="{{ static('img/careers/locations/san-francisco.png') }}" srcset="{{ static('img/careers/locations/san-francisco-high-res.png') }}" alt="Illustration representing the city of San Francisco" />
        San Francisco
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.berlin') }}">
        <img src="{{ static('img/careers/locations/berlin.png') }}" srcset="{{ static('img/careers/locations/berlin-high-res.png') }}" alt="Illustration representing the city of Berlin" />
        Berlin
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.toronto') }}">
        <img src="{{ static('img/careers/locations/toronto.png') }}" srcset="{{ static('img/careers/locations/toronto-high-res.png') }}" alt="Illustration representing the city of Toronto" />
        Toronto
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.paris') }}">
        <img src="{{ static('img/careers/locations/paris.png') }}" srcset="{{ static('img/careers/locations/paris-high-res.png') }}" alt="Illustration representing the city of Paris" />
        Paris
      </a>
    </li>
    <li>
      <img src="{{ static('img/careers/locations/remote.png') }}" srcset="{{ static('img/careers/locations/remote-high-res.png') }}" alt="Illustration representing the desk of remote office workers" />
      Remote
    </li>
  </ul>
</section>
<!-- end office locations -->
{% endblock %}
