{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "careers/base.html" %}

{% block page_title %}Mozilla Careers — Feel good about your work again.{% endblock %}
{% block page_desc %}At Mozilla, you can pursue your future while working to protect the future of the internet for everyone, everywhere.{% endblock %}

{% block careers_content %}

<!-- blog content -->
{% if recent_posts %}
  <section class="mzp-l-card-third">
  {% for post in recent_posts %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ post.get_featured_image_url('post-large')|default(static('img/careers/blog-fallback.png'), true) }}" alt="{{ post.title }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ post.excerpt }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  {% if featured_post %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ featured_post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ featured_post.image|default(static('img/careers/blog-fallback.png'), true) }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ featured_post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ featured_post.excerpt }}
          </div>
          <ul>
        </div>
      </a>
    </div>
  {% endif %}
  </section>
{% endif %}
<!-- end blog content -->


<!-- office locations -->
<section class="mzp-l-content centered locations" id="locations">
  <div class="mzp-c-call-out">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">A global view</h2>
      <p class="mzp-c-call-out-desc">
        With offices all over the world, we consider the internet from multiple cultures
        and contexts.
      </p>
    </div>
  </div>

  <ul class="locations-list">
    <li>
      <a href="{{ url('mozorg.contact.spaces.san-francisco') }}">
        <img src="{{ static('img/careers/locations/san-francisco.png') }}" srcset="{{ static('img/careers/locations/san-francisco-high-res.png') }}" alt="Illustration representing the city of San Francisco" />
        San Francisco
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.berlin') }}">
        <img src="{{ static('img/careers/locations/berlin.png') }}" srcset="{{ static('img/careers/locations/berlin-high-res.png') }}" alt="Illustration representing the city of Berlin" />
        Berlin
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.toronto') }}">
        <img src="{{ static('img/careers/locations/toronto.png') }}" srcset="{{ static('img/careers/locations/toronto-high-res.png') }}" alt="Illustration representing the city of Toronto" />
        Toronto
      </a>
    </li>
    <li>
      <a href="{{ url('mozorg.contact.spaces.paris') }}">
        <img src="{{ static('img/careers/locations/paris.png') }}" srcset="{{ static('img/careers/locations/paris-high-res.png') }}" alt="Illustration representing the city of Paris" />
        Paris
      </a>
    </li>
    <li>
      <img src="{{ static('img/careers/locations/remote.png') }}" srcset="{{ static('img/careers/locations/remote-high-res.png') }}" alt="Illustration representing the desk of remote office workers" />
      Remote
    </li>
  </ul>
</section>
<!-- end office locations -->
{% endblock %}
