{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}
{% block careers_bottom %}
<section class="c-careers-bottom">
    {% call split(
      block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed',
      media_class='mzp-l-split-h-center mzp-l-split-media-overflow',
      media_include='careers/includes/big-picture-video.html',
      image_url='img/careers/locations/mozilla-remote.png',
      media_after=True
      ) %}
      <h2>Ready for work that does you good?</h2>
      <p>We’re hiring curious and kind people across the organization. Come help write Mozilla’s next chapter.</p>
      <a href="{{ url('careers.listings') }}" class="mzp-c-button mzp-t-product">Browse open roles</a>
      {% endcall %}
  </section>
{% endblock %}
